.u-p1 {
  padding: 1rem;
}

.u-p2 {
  padding: 2rem;
}

.u-px2 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.u-px3 {
  padding-right: 3rem;
  padding-left: 3rem;
}

.u-px4 {
  padding-right: 4rem;
  padding-left: 4rem;
}

.u-py1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.u-py2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.u-py3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.u-py4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
